<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registered</title>

    <style>
      .text-color {
        color: yellow;
      }
    </style>
  </head>
  <body>
    <center>
      <h2>Succesfully Registered !</h2>
      <h1 class="text-color">Mundle Dharampeth Arts & Commerce college</h1>
      <h4>Succesfully register in Mundle dharmpeth college</h4>
      <br />
      <h4>Your Application ID is : {{sel_course}}-{{id}}</h4>
      <br />
      <p>
        Dear, {{username}} Thank you for register in mundle dharmpeth college
      </p>
      <br />
      <p>You selected course is<b>{{sel_course}}<b></p>
      <br />
      <h5>Thank For Register ! here</h5>
    </center>
  </body>
</html>
