<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registered</title>

    <style>
      .text-color {
        color: yellow;
      }

     
    </style>
  </head>
  <body>
    <center>
    <h1 class="text-color">Mundle Dharampeth Arts & Commerce college</h1>
    <h4>Succesfully register in Mundle dharmpeth college</h4>
        <br>
    <h3>Username And Password ! here </h3>
      <table >
        <thead>
          <tr>
            <th>Username :</th>
            <td>{{stu_user_name}}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Userpassword :</th>
            <td>{{stu_user_password}}</td>
          </tr>
        </tbody>
      </table>
      <h5>Thank For Register</h5>
    </center>
  </body>
</html>
